{%- comment -%}
  Decorator 5 CHROME asset stack — end-of-body half. Order matters.
{%- endcomment -%}
<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/jquery.min.js"></script>
	<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/bootstrap.min.js"></script>
	<script src="https://www.ucsd.edu/common/_emergency-broadcast/message.js"></script>
	<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/vendor.min.js"></script>
	<script src="https://cdn.ucsd.edu/cms/decorator-5/scripts/base.min.js"></script>
