---
layout: default
---
{%- comment -%}
  Two-column canvas: wide content section pulled right, sidebar nav in the
  narrower column. DOM order and classes match the shipped template.
{%- endcomment -%}
{% include breadcrumbs.html %}

<div class="container">
	<div class="row">
		<section class="col-xs-12 col-md-9 main-section pull-right">
			<h1>{{ page.title }}</h1>
			{%- if page.subhead %}
			<p class="subhead">{{ page.subhead }}</p>
			{%- endif %}
			{{ content }}
		</section>

		{% include sidebar-nav.html %}
	</div>
</div>
